@import './fonts.css';
@import '~normalize.css';

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: red;
    text-align: center;
}

.container {
    padding-top: 5rem;
    max-width: 200px;
    margin: 0 auto;
}

.ryan {
    background-image: url('../assets/ry.jpg');
    height: 200px;
    width: 400px;
    background-size: cover;
}