body {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

header,
main,
footer {
  position: relative;
  z-index: 10;
}

.control-block,
.forecast-for-today,
.three-days-forecast,
.location-info {
  position: relative;
  background-color: rgba(186, 223, 235, 0.7);
  display: flex;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 20px;
}

/* control block styles */

.control-block {
  justify-content: space-around;
}

.control-block button {
  padding: 15px;
  border: 2px solid rgb(19, 2, 172);
  background-color: rgb(7, 128, 241);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.control-block .change-unit::before {
  content: "°";
}

.control-block button:disabled {
  background-color: grey;
}

.control-block input {
  padding: 5px;
}

/* main */

main {
  display: flex;
  justify-content: space-between;
}

/* forecast block styles */

.forecast {
  height: 82vh;
  width: 48%;
}

/* forecast-for-today */
.forecast-for-today {
  height: 50%;
}

.forecast-for-today table {
  height: 100%;
}

.summary {
  margin: auto;
}

.summary .weather-icon {
  width: 150px;
}
.summary p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.city {
  font-size: 20px;
  font-weight: bold;
}

.country {
  font-size: 25px;
  font-weight: bold;
}

.current-temperature {
  font-size: 40px;
}
/* thee-days-forecast */
.three-days-forecast {
  height: 32.5%;
}

.forecast-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.forecast-list li {
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.forecast-list img {
  width: 80px;
}

/* location block styles */
.location-info {
  box-sizing: border-box;
  width: 48%;
}

/* loader */

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: white;
}

.loader:before {
  content: "";
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.none {
  display: none;
}

.background {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.longitude,
.latitude {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 20px;
}

.latitude {
  top: calc(25px + 10%);
}
